<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        {% load static %}
    <link rel="stylesheet" href="{% static 'css/basic_font.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/basic.js' %}"></script>

</head>
<body style="background-color: #c9d4ff;">


    <div class="basic_background">
    <div class="basic_menu">
        <div id="button_dashboard"  onclick="location.href='/'">
            <div id="dashboard_circle"></div>
        </div>
        <div id="button_service" onclick="location.href='/service'">
            <div id="service_circle"></div>
        </div>
        <div id="button_login" style="background-color: #4f72ee; border-right: 5px solid #0d37d0;" onclick="location.href='/users/login/'">
            <div id="login_circle"></div>
        </div>

         <div id="button_margin"></div>

    </div>
    <div class="basic_window" style="background-color: white;">
{% block content %}
<div class="wrapper">
    <div style="text-align: center;">
        <h1>회원가입</h1>
        <form method="POST" action="{% url 'users:signup' %}">
            {% csrf_token %}
            이름:
            <br>
            <input name="username" type="text">
            <br>
            비밀번호:
            <br>
            <input name="password" type="text">
            <br>
            비밀번호 확인:
            <br>
            <input type="text" name="confirm">
            <br>
            <input type="submit" class="btn btn-primary" value="signup">
        </form>
    </div>
</div>
{% endblock %}


</body>
</html>